
#sec {
  padding: 0;
  background: #fff;
  text-align: center;
  word-wrap: break-word;
}
#sec img {
  padding: 4px;
}

#sec ul {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  border: none;
}
#sec ul li {
  transition: box-shadow 0.3s;
}
#sec ul li:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#sec ul li:hover span {
  color: #63B7E6;
}
#sec ul li:hover p {
  color: #555;
}
#sec ul li:hover .title01 {
  color: #63B7E6;
}
#sec ul li:hover .title01:after {
  width: 25px;
}
#sec ul li span {
  font-size: 2.6em;
  display: block;
  transition: color 0.3s;
  color: #A2A2A2;
}
#sec ul li span:before, #sec ul li span:after {
  position: static;
}
/* ボタンの背景 */
@media(min-width: 768px) {
  #media-button.mail-button{
    background-color: rgb(36 251 4);
    width: 400px;
  }
  #media-button.invite-button{
    background-color: rgb(36 251 4);
    width: 400px;
  }
}
@media (max-width: 767px) {
  #media-button.invite-button{
    background-color: rgb(36 251 4);
  }
  #media-button.mail-button{
    background-color: rgb(36 251 4);
  }
}
#header{
  width:100%;/*横幅指定*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background:#333; */
  color:#fff;
  text-align: center;
}

/*JSを使いfixedクラスが付与された際の設定*/
#header.fixed{
  position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    top:0;/*位置指定*/
    left:0;/*位置指定*/
    padding: 15px 0px;
}


